<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
th:replace="~{/layout/fragment :: dynamic(~{::main})}">
    
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 mx-auto">
                                <div class="card shadow-lg border-0 rounded-lg mt-2">
                                    <div class="card-header"><h4 class="text-center font-weight-light my-4">Đặt lại mật khẩu</h4></div>
                                    <div class="card-body">
                                        <form th:action="@{/reset_password}" method="post" style="max-width: 350px; margin: 0 auto;">
                                            <input type="hidden" name="token" th:value="${token}" />
                                            <div class="border border-secondary rounded p-3">
                                                <div>
                                                    <p>
                                                        <input type="password" name="password" id="password" class="form-control"
                                                            placeholder="Nhập mật khẩu mới" required autofocus minlength="6" />
                                                    </p>         
                                                    <p>
                                                        <input type="password" class="form-control" placeholder="Xác nhận mật khẩu"
                                                            required oninput="checkPasswordMatch(this);" />
                                                    </p>         
                                                    <p class="text-center">
                                                        <input type="submit" value="Cập nhật" class="btn btn-primary" />
                                                    </p>
                                                    <div th:if="${message != null}" class="message" role="alert"> 
                                                        <i>[[${message}]]</i>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small text-center"><a th:href="@{/security/login/form}">[[#{login.login}]]</a></div>
                                    </div>
                                </div>
                                <script>
                                    function checkPasswordMatch(fieldConfirmPassword) {
                                        if (fieldConfirmPassword.value != $("#password").val()) {
                                            fieldConfirmPassword.setCustomValidity("Mật khẩu không trùng khớp!");
                                        } else {
                                            fieldConfirmPassword.setCustomValidity("");
                                        }
                                    }
                                </script>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </body>
</html>
